/* Apply common settings for all elements */
* {
  font-family: FantasqueSansM Nerd Font Mono; /* Custom font family */
  font-size: 16px; /* Base font size for consistency */
  border: none; /* Remove any default border */
  border-radius: 0px; /* Remove border rounding */
  padding: 0px;
  margin: 0px;
}

/* import custom colors */
@import "style/mocha.css";

/* ----------------------
   Main Waybar Container
   ---------------------- */

#waybar {
  color: @text; /* Primary text color */
  background: @base;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: 1px solid @mauve;
  border-radius: 10px;
}

/* -------------------------
   Workspaces Module Styles
   ------------------------- */

#workspaces button {
  color: @overlay1;
  box-shadow: none;
	text-shadow: none;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button.urgent {
	color: @red;	
}

#workspaces button.persistent {
	color: @surface1;
}

#workspaces button:hover,
#workspaces button.focused:hover,
#workspaces button.visible:hover {
	color: @lavender;
	background-color: @surface0;
}

#workspaces button.active {
	color: @mauve;
}

/* ----------------------------------------
   State Based Styles (Warning & Critical)
   ---------------------------------------- */

/* Warning state: moderate concern */
#memory.warning,
#cpu.warning,
#battery.warning {
  color: @yellow;
}

/* Critical state: immediate attention needed */
#cpu.critical,
#temperature.critical,
#memory.critical,
#battery.critical,
#network.disconnected {
  color: @red;
}

/* -----------------------------
   Module Padding
   ----------------------------- */

#workspaces,
#window,
#network,
#tray,
#clock,
#battery,
#bluetooth,
#pulseaudio,
#temperature,
#backlight,
#cpu,
#disk,
#memory,
#mpris,
#custom-lock,
#custom-power,
#custom-swaync {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	padding-left: 6px;
}

/* -----------------------------
   Group Module Styles
   ----------------------------- */

/* Status Group Styling */
#temperature,
#cpu,
#memory,
#disk {
  color: @green;
}

/* Laptop Group Styling */
#custom-backlight,
#custom-battery {
  color: @rosewater
}

/* Connections Group Styling */
#network,
#bluetooth {
  color: @sapphire;
}

/* Power Group Styling */
#custom-power,
#custom-lock {
  color: @red;
}


/* -----------------------------
   Pulseaudio Module Styles
   ----------------------------- */

#pulseaudio {
  color: @pink;
}

#pulseaudio.bluetooth {
  color: @blue;
}
#pulseaudio.muted {
  color: @red;
}

/* -----------------------------
   Other Specific Module Styles
   ----------------------------- */

/* Tooltip styling */
#tooltip {
  background: @base;
  border: 1px solid @surface2;
}

/* Battery charging indicator */
#battery.charging {
  color: @green;
}

/* mpris now playing styling */
#mpris {
  color:@maroon;
}

/* swaync styling */
#custom-swaync {
  color: @rosewater;
}

/* Window Information styling */
#window {
  color: @sapphire;
}
